<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashow.hencoderdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter_1_1.Chapter_1_1_Activity" />
        <activity android:name=".chapter_1_2.Chapter_1_2_Activity" />
        <activity android:name=".chapter_1_3.Chapter_1_3_Activity" />
        <activity android:name=".chapter_1_4.Chapter_1_4_Activity" />
        <activity android:name=".chapter_1_5.Chapter_1_5_Activity" />
        <activity android:name=".chapter_1_6.Chapter_1_6_Activity" />
        <activity android:name=".chapter_1_7.Chapter_1_7_Activity" />
        <activity android:name=".chapter_1_8.Chapter_1_8_Activity" />
    </application>
</manifest>